@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer base {
    body {
        @apply bg-amber-700 text-blue-500;
    }
}

@layer utilities {
    .line-clamp-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
